.container-content {
  border: 2px solid #0f0f0f; 
  border-radius: 5px; 
  margin : 5px; 
  padding : 5px; 
  position : relative;
}

.container-content .header-content{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container-content .body-content{
  margin : 10px;
  padding: 10px;

}

.container-content .form-group{
  margin : 10px;
  padding: 10px;

}

.container-content .footer-content{
  margin : 5px;
  padding: 5px;
  display: inline-block;
  border: 1px solid #0f0f0f; 
  border-radius: 5px; 
}

